.dash-panel{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    .card{
        display: flex;
        flex-direction: column;
        background: #fff;
        margin: 10px;
        width: 300px;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);

        .card-header{
            background: #f39050;
            padding: 5px 25px;
            text-align: right;
            color: #fff;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;

            h3{
                font-size: 30px;
                font-weight: bold;
            }

            p{
                margin-top: -5px;
                font-size: 24px;
                font-weight: bold;
            }

            .icon{
                background: pink;
                height: 100%;
            }
        }

        .card-footer{
            padding: 10px;
        }

        .pull-left{
            float: left;
        }

        .pull-right{
            float: right;
        }
    }
}
