.imageContainer {
    border: 1px #aaa solid;
    overflow: hidden;
    margin: 10px;
}

.imageContainer-xs{
    width: 120px;
    height: 80px;
}

.imageContainer-sm{
    width: 350px;
    height: 200px;
}

.imageHolder {
    height: 100%;
    display:flex;
    align-items: center;
}
.imageItself {
    height: auto;
    width: 100%;
    align-self: center;
}