.list{
    background: #fff;
    margin: 10px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);

    .header{
        display: flex;
        flex-direction: row;
        flex-wrap: none;
        justify-content: space-between;
        align-items: center;
        font-size: 24px;
        padding: 10px;

        h3{
            margin: 10px;
        }

        .add{
            color: #40c4ff;
            transition: all 200ms ease-in-out;
            &:hover{
                color: #0275aa;
            }
        }
    }

    .body{
        overflow: auto;
        max-height: calc(75vh);
        padding: 10px;

        .list-item{
            border: 1px #aaa solid;
            padding: 5px;
            margin: 10px 0;
            background: #eee;
            display: flex;
            flex-direction: row;
            transition: all .2s ease-in-out;
            

            .content{
                padding: 5px;
            }
        }

        .list-item:hover{
            transform: scale(1.01);
            box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
        }
    }
}

.enrolled-courses-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.enrolled-courses-item{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px;

    label{
        margin: 4px 0 0 5px;
    }
}