@import "components/card";
@import "components/list";
@import "components/imageHolder";
@import "errors";

body{}

hr{
    border-color: #bbb;
}
.home-dashboard{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .main-container{
        background: #fff;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
        margin: 10px;
        padding: 10px;
        overflow: auto;
        max-height: calc(82vh);
    }

    .main-clean{
        background: none;
        box-shadow: none;
    }

    .clear-col{
        padding: 0;
    }
}


.course-picker{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .course-check{
        flex: 1;

        .course_image{
            width: 150px;
            height: 100px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 50% 50%;
        }
    }
}


