
.page-error{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 10% 0;
    background-color: #795548;
    color: #fff;
    display: flex;
    flex-direction: column;
    text-align: center;
    
    h1, h2, a {
        text-transform: uppercase;
    }

    h1 {
        font-size: 7em;
    }

    h2 {
        font-size: 5em;
    }
    p {
        font-size: 1em;
    }

    a {
        font-size: 1em;
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        display: inline-block;
        width: 88px;
        height: 44px;
        line-height: 44px;
        border-radius: 5px;
        border: 2px solid #fff;
        transition: all .5s ease;
      }
      
      a:hover {
        background: #A1887F;
        border: 2px solid #A1887F;
        width: 132px;
      }
}